---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import PlaylistGrid from "../components/PlaylistGrid.astro";
import Recommendation from "../components/Recommendation.astro";
---

<Layout title="Spotify Clone">
  <div
    class="size-full absolute -top-[60%] bg-gradient-to-b from-[#121212] via-secondary/10 -z-[1]"
  >
  </div>
  <Header />
  <PlaylistGrid />
  <Recommendation title="Hecho para JuliPrieto" />
</Layout>
