---
import Pause from "./icons/Pause.astro";
import Play from "./icons/Play.astro";

const { isPlaying } = Astro.props;
---

<button
  class="absolute size-12 bg-green place-content-center rounded-full shadow-xl"
  class:list={Astro.props.class}
>
  {
    isPlaying ? (
      <Pause class="size-6 text-black" />
    ) : (
      <Play class="size-6 text-black" />
    )
  }
</button>
